@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* google font  */

/* starting */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* menu bar  */
header {
  margin: 60px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head h1 {
  font-weight: 700;
  font-size: 24px;
}
header > nav > a {
  text-decoration: none;
  color: black;
}
header > nav > a:hover {
  color: #7c40ff;
}
.menu {
  word-spacing: 34px;
}
/* meanu bar end  */

/* first impression */
.first-impression {
  margin: 20px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.impression-text p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
}
.btn {
  background-color: #9970f0;
  border-radius: 41px;
  padding: 12px;
  text-decoration: none;
  color: aliceblue;
}
.btn:hover {
  background-color: #7c40ff;
}

.impression-img img {
  width: 440px;
  background-image: url("Circle-design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 410px;
}
.impression-img:hover {
  transform: scale(1.2);
  transition: 1s ease;
}
/* first impression end  */
/* logos */
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos img {
  margin-left: 20px;
  width: 64px;
}
hr {
  opacity: 0.4;
}
/* logos end  */

/* collection container  */
#popular {
  margin-top: 150px;
  margin-bottom: 30px;
  text-align: center;
}
.container {
  /* width: 1047px; */
  margin: 60px 120px;
}
.collections-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
.collection {
  height: 476px;
  width: 329px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.116);
}
.collection:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}
.collection-info {
  margin-left: 13px;
}
.collection-info h2 {
  font-size: 26px;
  font-weight: 500;
}
.collection-info h3 {
  font-size: 22px;
  font-weight: 400;
}
.collection-info p {
  font-size: 14px;
  color: #787885;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star {
  color: rgb(202, 202, 202);
}
#see-more {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  margin-top: 25px;
  color: #000000;
}
#see-more:hover {
  color: #7c40ff;
  transform: scale(1.1);
  transition: 0.4s ease;
}
/* collection container end  */
/* extra work start  */

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 60px auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}
/* extra work end  */
/* footer */
footer {
  background-color: #0a0826;
  color: white;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.footer-text {
  text-align: center;
}
.foot-title {
  text-align: center;
  margin: 0px;
}
.foot-icons {
  display: flex;
  justify-content: center;
  color: rgb(235, 235, 235);
  font-size: 24px;
}
.foot-icons .fab {
  margin-left: 5px;
}
.foot-icons a {
  text-decoration: none;
  color: white;
}
.foot-icons a:hover {
  color: #7c40ff;
}

/* footer end  */
